<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Nhahang247</display-name>
  <welcome-file-list>
    <welcome-file>homeServlet</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>danhmucServlet</display-name>
    <servlet-name>danhmucServlet</servlet-name>
    <servlet-class>controllers.danhmucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>danhmucServlet</servlet-name>
    <url-pattern>/danhmucServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>baivietServlet</display-name>
    <servlet-name>baivietServlet</servlet-name>
    <servlet-class>controllers.baivietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baivietServlet</servlet-name>
    <url-pattern>/baivietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>baiviet_detialServlet</display-name>
    <servlet-name>baiviet_detialServlet</servlet-name>
    <servlet-class>controllers.baiviet_detialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baiviet_detialServlet</servlet-name>
    <url-pattern>/baiviet_detialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_baivietServlet</display-name>
    <servlet-name>ds_baivietServlet</servlet-name>
    <servlet-class>controllers.ds_baivietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_baivietServlet</servlet-name>
    <url-pattern>/ds_baivietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_baivietServlet</display-name>
    <servlet-name>add_baivietServlet</servlet-name>
    <servlet-class>controllers.add_baivietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_baivietServlet</servlet-name>
    <url-pattern>/add_baivietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_baivietServlet</display-name>
    <servlet-name>delete_baivietServlet</servlet-name>
    <servlet-class>controllers.delete_baivietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_baivietServlet</servlet-name>
    <url-pattern>/delete_baivietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suabv_Servlet</display-name>
    <servlet-name>suabv_Servlet</servlet-name>
    <servlet-class>controllers.suabv_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suabv_Servlet</servlet-name>
    <url-pattern>/suabv_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gioithieuServlet</display-name>
    <servlet-name>gioithieuServlet</servlet-name>
    <servlet-class>controllers.gioithieuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gioithieuServlet</servlet-name>
    <url-pattern>/gioithieuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>thucdonServlet</display-name>
    <servlet-name>thucdonServlet</servlet-name>
    <servlet-class>controllers.thucdonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thucdonServlet</servlet-name>
    <url-pattern>/thucdonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_thucdonServlet</display-name>
    <servlet-name>ds_thucdonServlet</servlet-name>
    <servlet-class>controllers.ds_thucdonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_thucdonServlet</servlet-name>
    <url-pattern>/ds_thucdonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_thucdonServlet</display-name>
    <servlet-name>add_thucdonServlet</servlet-name>
    <servlet-class>controllers.add_thucdonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_thucdonServlet</servlet-name>
    <url-pattern>/add_thucdonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_thucdonServlet</display-name>
    <servlet-name>delete_thucdonServlet</servlet-name>
    <servlet-class>controllers.delete_thucdonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_thucdonServlet</servlet-name>
    <url-pattern>/delete_thucdonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sua_thudonServlet</display-name>
    <servlet-name>sua_thudonServlet</servlet-name>
    <servlet-class>controllers.sua_thudonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sua_thudonServlet</servlet-name>
    <url-pattern>/sua_thudonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>food_detialServlet</display-name>
    <servlet-name>food_detialServlet</servlet-name>
    <servlet-class>controllers.food_detialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>food_detialServlet</servlet-name>
    <url-pattern>/food_detialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nhanvienServlet</display-name>
    <servlet-name>nhanvienServlet</servlet-name>
    <servlet-class>controllers.nhanvienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nhanvienServlet</servlet-name>
    <url-pattern>/nhanvienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_nhanvienServlet</display-name>
    <servlet-name>ds_nhanvienServlet</servlet-name>
    <servlet-class>controllers.ds_nhanvienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_nhanvienServlet</servlet-name>
    <url-pattern>/ds_nhanvienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_nhanvienServlet</display-name>
    <servlet-name>add_nhanvienServlet</servlet-name>
    <servlet-class>controllers.add_nhanvienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_nhanvienServlet</servlet-name>
    <url-pattern>/add_nhanvienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_nhanvienServlet</display-name>
    <servlet-name>delete_nhanvienServlet</servlet-name>
    <servlet-class>controllers.delete_nhanvienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_nhanvienServlet</servlet-name>
    <url-pattern>/delete_nhanvienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_nhanvienServlet</display-name>
    <servlet-name>update_nhanvienServlet</servlet-name>
    <servlet-class>controllers.update_nhanvienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_nhanvienServlet</servlet-name>
    <url-pattern>/update_nhanvienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeServlet</display-name>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>controllers.homeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_slideServlet</display-name>
    <servlet-name>ds_slideServlet</servlet-name>
    <servlet-class>controllers.ds_slideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_slideServlet</servlet-name>
    <url-pattern>/ds_slideServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_slideServlet</display-name>
    <servlet-name>add_slideServlet</servlet-name>
    <servlet-class>controllers.add_slideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_slideServlet</servlet-name>
    <url-pattern>/add_slideServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suaslide_Servlet</display-name>
    <servlet-name>suaslide_Servlet</servlet-name>
    <servlet-class>controllers.suaslide_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suaslide_Servlet</servlet-name>
    <url-pattern>/suaslide_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_slideServlet</display-name>
    <servlet-name>delete_slideServlet</servlet-name>
    <servlet-class>controllers.delete_slideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_slideServlet</servlet-name>
    <url-pattern>/delete_slideServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_taikhoanServlet</display-name>
    <servlet-name>ds_taikhoanServlet</servlet-name>
    <servlet-class>controllers.ds_taikhoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_taikhoanServlet</servlet-name>
    <url-pattern>/ds_taikhoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_taikhoanServlet</display-name>
    <servlet-name>add_taikhoanServlet</servlet-name>
    <servlet-class>controllers.add_taikhoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_taikhoanServlet</servlet-name>
    <url-pattern>/add_taikhoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suatk_Servlet</display-name>
    <servlet-name>suatk_Servlet</servlet-name>
    <servlet-class>controllers.suatk_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suatk_Servlet</servlet-name>
    <url-pattern>/suatk_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_tkServlet</display-name>
    <servlet-name>delete_tkServlet</servlet-name>
    <servlet-class>controllers.delete_tkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_tkServlet</servlet-name>
    <url-pattern>/delete_tkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controllers.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>controllers.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_binhluanServlet</display-name>
    <servlet-name>add_binhluanServlet</servlet-name>
    <servlet-class>controllers.add_binhluanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_binhluanServlet</servlet-name>
    <url-pattern>/add_binhluanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datbanServlet</display-name>
    <servlet-name>datbanServlet</servlet-name>
    <servlet-class>controllers.datbanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datbanServlet</servlet-name>
    <url-pattern>/datbanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_banServlet</display-name>
    <servlet-name>ds_banServlet</servlet-name>
    <servlet-class>controllers.ds_banServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_banServlet</servlet-name>
    <url-pattern>/ds_banServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_banServlet</display-name>
    <servlet-name>update_banServlet</servlet-name>
    <servlet-class>controllers.update_banServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_banServlet</servlet-name>
    <url-pattern>/update_banServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_khachdatbanServlet</display-name>
    <servlet-name>ds_khachdatbanServlet</servlet-name>
    <servlet-class>controllers.ds_khachdatbanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_khachdatbanServlet</servlet-name>
    <url-pattern>/ds_khachdatbanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>phucvubanServlet</display-name>
    <servlet-name>phucvubanServlet</servlet-name>
    <servlet-class>controllers.phucvubanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phucvubanServlet</servlet-name>
    <url-pattern>/phucvubanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xulybanServlet</display-name>
    <servlet-name>xulybanServlet</servlet-name>
    <servlet-class>controllers.xulybanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xulybanServlet</servlet-name>
    <url-pattern>/xulybanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_banpvuServlet</display-name>
    <servlet-name>ds_banpvuServlet</servlet-name>
    <servlet-class>controllers.ds_banpvuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_banpvuServlet</servlet-name>
    <url-pattern>/ds_banpvuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>thanhtoanServlet</display-name>
    <servlet-name>thanhtoanServlet</servlet-name>
    <servlet-class>controllers.thanhtoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thanhtoanServlet</servlet-name>
    <url-pattern>/thanhtoanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_khachhangServlet</display-name>
    <servlet-name>ds_khachhangServlet</servlet-name>
    <servlet-class>controllers.ds_khachhangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_khachhangServlet</servlet-name>
    <url-pattern>/ds_khachhangServlet</url-pattern>
  </servlet-mapping>
</web-app>