<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Nhahang247</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>danhmucServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>danhmucServlet</display-name>
    <servlet-name>danhmucServlet</servlet-name>
    <servlet-class>controllers.danhmucServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>danhmucServlet</servlet-name>
    <url-pattern>/danhmucServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>baivietServlet</display-name>
    <servlet-name>baivietServlet</servlet-name>
    <servlet-class>controllers.baivietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baivietServlet</servlet-name>
    <url-pattern>/baivietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>baiviet_detialServlet</display-name>
    <servlet-name>baiviet_detialServlet</servlet-name>
    <servlet-class>controllers.baiviet_detialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baiviet_detialServlet</servlet-name>
    <url-pattern>/baiviet_detialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ds_baivietServlet</display-name>
    <servlet-name>ds_baivietServlet</servlet-name>
    <servlet-class>controllers.ds_baivietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ds_baivietServlet</servlet-name>
    <url-pattern>/ds_baivietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_baivietServlet</display-name>
    <servlet-name>add_baivietServlet</servlet-name>
    <servlet-class>controllers.add_baivietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_baivietServlet</servlet-name>
    <url-pattern>/add_baivietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_baivietServlet</display-name>
    <servlet-name>delete_baivietServlet</servlet-name>
    <servlet-class>controllers.delete_baivietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_baivietServlet</servlet-name>
    <url-pattern>/delete_baivietServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suabv_Servlet</display-name>
    <servlet-name>suabv_Servlet</servlet-name>
    <servlet-class>controllers.suabv_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suabv_Servlet</servlet-name>
    <url-pattern>/suabv_Servlet</url-pattern>
  </servlet-mapping>
</web-app>